@import "tailwindcss";

:root {
  --background: #500000;
  --foreground: white;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-float: float 4s ease-in-out infinite;
  --animate-scroll: scrollX 80s linear infinite;
  --animate-scroll-y-down: scrollYDown 20s linear infinite;
  --animate-scroll-y-down-slow: scrollYDown 30s linear infinite;
  --animate-fade-in-up: fadeInUp 1s ease-out forwards;

  @keyframes float {

    0%,
    100% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-10px);
    }
  }

  @keyframes scrollX {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes scrollYDown {
    0% {
      transform: translateY(-50%);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  height: 100vh;
}
@utility animate-scroll {
  display: flex;
  width: max-content;
}

@utility animate-scroll-y-down {
  display: flex;
  flex-direction: column;
}

@utility animate-scroll-y-down-slow {
  display: flex;
  flex-direction: column;
}

.animation-delay-200 {
  animation-delay: 200ms;
}

.animation-delay-400 {
  animation-delay: 400ms;
}
